In [27]:
import pandas as pd

df = pd.read_csv('./titanic.csv')

In [16]:
print(f'Percent that embarked on Section C: {len(df[df["Embarked"] == "C"]) / len(df)}')
print(f'Percent of female passengers that embarked on Section C: {len(df[(df["Embarked"] == "C") & (df["Sex"] == "female")]) / len(df)}')

Percent that embarked on Section C: 0.3551912568306011
Percent of female passengers that embarked on Section C: 0.18579234972677597

In [28]:
## Average age of male passengers
print(df[(df['Sex'] == 'male') & (df['Survived'] == 1)].Age.dropna().mean())

27.276021505376345

In [29]:
import seaborn as sb
import matplotlib.pyplot as plt

df = pd.DataFrame({'Rainy':[29,28,32,35,36,12,18,30,45,55, 32,32,32,32,32], 'City':['City_A']*5 + ['City_B']*5 + ['City_C']*5})

In [30]:
df

    Rainy    City
0      29  City_A
1      28  City_A
2      32  City_A
3      35  City_A
4      36  City_A
5      12  City_B
6      18  City_B
7      30  City_B
8      45  City_B
9      55  City_B
10     32  City_C
11     32  City_C
12     32  City_C
13     32  City_C
14     32  City_C

In [34]:
df[df['City'] == 'City_A'].describe()

           Rainy
count   5.000000
mean   32.000000
std     3.535534
min    28.000000
25%    29.000000
50%    32.000000
75%    35.000000
max    36.000000

In [35]:
df[df['City'] == 'City_B'].describe()

           Rainy
count   5.000000
mean   32.000000
std    18.013884
min    12.000000
25%    18.000000
50%    30.000000
75%    45.000000
max    55.000000

In [36]:
df[df['City'] == 'City_C'].describe()

       Rainy
count    5.0
mean    32.0
std      0.0
min     32.0
25%     32.0
50%     32.0
75%     32.0
max     32.0

In [39]:
df.std(ddof=0)

Rainy    9.479803
dtype: float64